<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          
          <h1 class="mb-3">Anime Culture</h1>
          <p class="mb-5">Join and start learn about Anime 
            <strong>Register</strong> or <strong>Login</strong> to start!</p>
          <div class="input-group input-group-newsletter">
            <div class="input-group-append">
            <a [routerLink]="['../register']"><button class="btn btn-secondary" type="button" id="submit-button" routerLink="about/48 ">Sign Up</button></a>
              <a [routerLink]="['../login']"><button class="btn btn-secondary" type="button" id="submit-button" >Sign In </button></a>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="social-icons">
  <ul class="list-unstyled text-center mb-0">
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
